body {
    background-color: aqua;
}
.container {
    padding: 10px;
}

.section {
    display: inline-block;
    width: 45%;
    margin-bottom: 10px; 
    border: 2px solid hsl(0, 19%, 93%);
    border-radius: 15px;
    background-color: blueviolet;
    color: white;
    padding: 15px;
}